@media screen and ( max-width: 1250px )
    .master
        padding-top: 210px
        padding-bottom: 245px
        &__title
            margin-bottom: 95px
        &__text
            margin-bottom: 105px
            max-width: 950px
    .index
        &__button
            font-size: 20px
            width: 350px
    .prog
        padding-top: 160px
        padding-bottom: 155px
        &::after
            width: 468px
        &__title
            max-width: 700px
            margin-bottom: 65px
        &__subtitle
            font-size: 24px
            max-width: 900px
            margin-bottom: 35px
        &__text
            margin-bottom: 60px
            max-width: 1010px
    .section
        &__text
            font-size: 22px
        &__title
            font-size: 42px
    .header
        &__nav
            &__link
                font-size: 16px
                padding: 10px
                padding-right: 15px
        &__logo
            width: 100px
        &__button
            font-size: 16px
    .main
        padding-top: 120px
        &__water
            width: 105px
            right: 30px
            bottom: 30px
        &__text
            font-size: 22px
            max-width: 850px
            &--bottom
                font-size: 22px
                margin-bottom: 40px
        &__button
            font-size: 20px
            padding: 15px 100px
            margin-bottom: 110px
        &__title
            &__effect
                font-size: 72px
            &__span
                &:first-of-type
                    font-size: 47px
                &:last-of-type
                    font-size: 35px

@media screen and ( max-width: 992px )
    .master
        padding-top: 180px
        padding-bottom: 200px
        &__title
            margin-bottom: 60px
        &__text
            max-width: 600px !important
    .prog
        padding-top: 100px
        padding-bottom: 90px
        &__title
            max-width: 440px
            margin-bottom: 55px
        &__subtitle
            font-size: 14px
            margin-bottom: 35px
            max-width: 550px
        &::after
            width: 232px
    .index
        &__button
            font-size: 14px
            padding: 10px 0
            width: 220px
    .section
        padding-left: 15px
        padding-right: 15px
        &__text
            font-size: 14px
            margin-bottom: 60px
            max-width: 643px
        &__title
            font-size: 25px
    .main
        padding-bottom: 15px
        &__inner
            img
                width: 20px
            &__text
                font-size: 16px
        &__water
            width: 65px
            right: 15px
            bottom: 15px
        &__text
            font-size: 14px
            line-height: 150%
            max-width: 530px
            &--bottom
                font-size: 14px
                margin-bottom: 35px
        &__title
            &__span
                margin-bottom: 10px
                &:first-of-type
                    font-size: 40px
                    margin-bottom: 5px
                &:last-of-type
                    font-size: 25px
            &__effect
                font-size: 55px
                min-width: 277px
    .header
        background: rgba(0, 0, 0, 0.5)
        padding: 0
        max-height: 94px
        overflow: auto
        &--absolute
            position: absolute
            left: 0
            top: 0
            width: 100%
            z-index: 500
        &--active
            max-height: 100%
        &__menu 
            display: flex
        &__container
            background: url(../img/bg/header-bg.png) no-repeat center
            background-size: cover
            padding: 10px 35px
        &__logo
            width: 90px
        &__nav
            display: none
        &__burger
            display: flex
        &__button
            display: none
        &__tel
            display: block
@media screen and ( max-width: 575px )
    .prog
        background-image: url(../img/index/bgProgMobile.png)
        background-position-x: 0px
    .main
        padding-top: 90px
        &__button
            margin-bottom: 40px
@media screen and ( max-width: 450px )
    .master
        background-image: url(../img/index/bgMasterMobile.png)
    .main
        background-image: url(../img/index/bgMainMobile.png)